body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* footer{
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(30, 127, 211);
  padding: 20px 0;
}

footer p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: wheat;
  margin: 20px auto;
} */