/* div.admins {

} */

div.header {
    background-color: rgb(226, 228, 230);
    padding: 0px;
    box-sizing: border-box;
    width: 90%;
    margin: 10px 5%;
    border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 2px 2px gainsboro;
}
div.header span {
    display: block;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
    font-size: medium;
    color: rgb(89, 89, 223);
}

div.header span i{
    font-weight: lighter;
    margin-left: 20px;
    font-size: small;
    color: rgb(235, 23, 23);
}

div.filter {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 2%;
}

div.filter span {
    display: inline-block;
    box-sizing: border-box;
    width: 32%;
    text-align: center;
    border: 1px solid rgb(236, 213, 213);
    padding: 10px 0px;
}


div.filter span i{
    display: inline-block;
    border-radius: 30px;
    width: 20px;
    height: 18px;
    padding: 2px;
    vertical-align: middle;
    background-color: rgb(218, 62, 45);
    margin-left: 5px;
    font-size: smaller;
    font-weight: bold;
}

div.filter span.active {
    background-color: rgb(26, 67, 8);
    color: white;
}
div.filter span.inactive {
    background-color: rgb(225, 233, 233);
    color: rgb(26, 67, 8);
}

div.orders {
    width: 94%;
    box-sizing: border-box;
    margin: 15px 3%;
    height: auto;
    min-height: 200px;
}
div.orders p.no-orders {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    vertical-align: middle;
    margin-top: 80px;
}

div.order {
    width: 80%;
    box-sizing: border-box;
    padding: 10px 2%;
    margin: 0px auto;
}

div.classone {
    background-color: rgb(192, 192, 178);
}
div.classtwo{
    background-color: rgb(242, 235, 235);
}

div.order p.info{
    margin: 8px 0;
    position: relative;
}

div.order p.info span.key {
    display: inline-block;
    margin-right: 10px;
    width: 150px;
    color: rgb(58, 58, 196);
}
div.order p.info span.value {
    display: inline-block;
    max-width: 200px;
}

div.read p.info{
    font-size: small;
    font-weight: 400;
    
}
div.unread p.info {
    font-size: medium;
    font-weight: 600;

}

div.order p.action {
    width: 100%;
    font-size: small;
    margin: 8px 0;
    text-align: left;
    padding-left: 150px;
}

div.order p.action span.action {
    margin-left: 10px;
}

div.order p img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: auto 0;
    vertical-align: middle;
    position: absolute;
    right: 30px;
}


div.hidden {
    display: none;
}
div.shown {
    display: block;
}

div.search-form {
    padding: 10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
div.search-form form {
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}
div.search-form input[type="text"] {
    height: 30px;
    padding-left: 5px;
    font-size: small;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
}
div.search-form input[type="submit"] {
    height: 32px;
    font-size: small;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid green;
    border-color: white;
    box-shadow: 2px 2px rgb(109, 104, 104);
}
div.search-form input[type="submit"]:hover{
    background-color: green;
    color: white;
}

div.paging {
    width: 94%;
    height: auto;
    box-sizing: border-box;
    margin: 10px 0%;
    padding: 0 3%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

div.paging div.pages {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

div.pages span {
    display: inline-block;
    font-size: medium;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}
div.pages span.inactive{
    background-color: rgba(250, 250, 250, 0.967);
    border: 1px solid rgb(58, 57, 57);
}
div.pages span.active{
    background-color: rgba(27, 177, 39, 0.967);
    color: wheat;
    border: 1px solid rgb(86, 106, 73);
}

@media screen and (max-width: 500px) {
    div.order {
        width: 100%;
    }
    div.read p.info {
        font-size: 200;
        font-weight: 300;
    }
    div.unread p.info {
        font-size: small;
        font-weight: 500;
    }
    div.order p.info span.key {
        margin-right: 10px;
        width: 85px;
        color: rgb(58, 58, 196);
        text-align: right;
        font-weight: 600;
        font-size: small;
    }
    div.order p.info span.value {
        max-width: 150px;
        font-size: small;
    }
    div.order p.action {
        width: 100%;
        font-size: small;
        margin: 8px 0;
        text-align: left;
        padding-left: 85px;
    }
    div.orders {
        width: 100%;
        margin: 15px 0%;
    }
    div.search-form {
        padding: 10px;
        border-bottom: 2px solid black;
    }
    div.search-form form {
        box-sizing: border-box;
        width: 94%;
        margin: 0 3%;
    }
    div.order p img {
        display: inline-block;
        width: 20px;
        height: 20px;
        right: 5px;
    }
}